
@model MySqlTest2.Models.JobLijstViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JobLijst</title>
</head>
<body>
    <div> 
        @{ foreach (var s in Model.StitchJobs)
            {
                <p>Primary Key = @s.Id - Ordernr. = @s.JobNr - Aantal  =@s.Aantal ex. - Breedte = @s.Breedte mm. - Hoogte = @s.Hoogte mm. - Omvang = @s.AantalBlz blz. - Cover = @s.Cover <br/> Start = @s.StartJob - Stop = @s.StopJob - LeverDatum = @s.LeverDatum</p>
            }}
    </div>
</body>
</html>
