
@model MySqlTest2.Models.JobViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    #header {
        background-image: url("../../Images/_Home_52.jpg");
        background-repeat: repeat-x;
        height: 170px;
    }
    
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JobLijst</title>
</head>
<body>
    <div id="header">
    </div>
    <div> 
        Lijst volgens leverdatum: 
        <form action="@Url.Action("JobLijst", "JobLijst")">
            <input type="date" name="LeverDatum"/>
            <input type="submit" value="stuur"/>
        </form>
     </div>
     <div>
            <div>
                <form action="@Url.Action("PlanJob","Job")">
                    <select name="Id" multiple size="5">
                        @{ foreach (var s in Model.StitchJobsbyMachineId0)
                            {
                                <option value="@s.Id">@s.JobNr - @s.Aantal ex. - @s.AantalBlz blz. - @s.Breedte x @s.Hoogte mm.</option>
                            }}
                    </select>
                    <input type="submit" name="MachineId" value="1" />
                    <input type="submit" name="MachineId" value="2" />
                    <input type="submit" name="MachineId" value="3" />
                    <input type="submit" name="MachineId" value="4" />
                </form>
            </div>
    </div>
    <br/>
    <div>
        <div style="float: left">
            U-Stitch 96p<br />
            <select name="JobsMachine1" multiple size="5">
                @{ foreach (var s in Model.StichJobsbyMachineId1)
                    {
                        <option value="@s.Id">@s.JobNr - @s.Aantal ex. - @s.AantalBlz blz. - @s.Breedte x @s.Hoogte mm.</option>
                    }}
            </select>
        </div>
        <div style="float: left">
            U-Stitch 48p<br />
            <select name="JobsMachine2" multiple size="5">
                @{ foreach (var s in Model.StichJobsbyMachineId2)
                    {
                        <option value="@s.Id">@s.JobNr - @s.Aantal ex. - @s.AantalBlz blz. - @s.Breedte x @s.Hoogte mm.</option>
                    }}
            </select>
        </div>
        <div  style="float: left">
            L-Stitch 48p+C<br />
            <select name="JobsMachine3" multiple size="5">
                @{ foreach (var s in Model.StichJobsbyMachineId3)
                    {
                        <option value="@s.Id">@s.JobNr - @s.Aantal ex. - @s.AantalBlz blz. - @s.Breedte x @s.Hoogte mm.</option>
                    }}
            </select>
        </div>
        <div>
            220-Stitch 48p<br />
            <select name="JobsMachine4" multiple size="5">
                @{ foreach (var s in Model.StichJobsbyMachineId4)
                    {
                        <option value="@s.Id">@s.JobNr - @s.Aantal ex. - @s.AantalBlz blz. - @s.Breedte x @s.Hoogte mm.</option>
                    }}
            </select>
        </div>
    </div>
    <div>
        <input type="submit" name="StartStitch1" value="Start Stitch1" />
        <input type="submit" name="StartStitch2" value="Start Stitch2" />
        <input type="submit" name="StartStitch3" value="Start Stitch3" />
        <input type="submit" name="StartStitch4" value="Start Stitch4" />
    </div>
    <div>
        <select name="AllJobs" multiple size="10">
            @{ foreach (var s in Model.StitchJobs)
                {
                    <option>@s.JobNr - @s.Aantal ex. - @s.AantalBlz blz. - @s.Breedte x @s.Hoogte mm.</option>
                }}
        </select>
    </div>

</body>
</html>
